main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    font-size: 28px;
    font-weight: 100;
    margin: 12px 0;
}

main .container_form {
    display: flex;
    flex-direction: column;
    width: 94%;
}

main .container_form input {
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid black;
    border-color: transparent;
    background-color: #e6e6e6;
}

main .container_form input:focus {
    border-color: rgb(55, 55, 55);
    outline: none;
}

main .container_form button {
    padding: 12px;
    border: none;
    background-color: #5a7fac;
    color: #fff;
    letter-spacing: .5px;
    font-size: 13px;
}

main p {
    color: gray;
    font-size: 11px;
    letter-spacing: .3px;
}